[tool.poetry]
name = "django-codemod"
version = "1.11.7"
description = "A command line tool to automatically fix Django deprecations."
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["django", "codemod", "libCST"]
repository = "https://github.com/browniebroke/django-codemod"
documentation = "https://django-codemod.readthedocs.io"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "django_codemod", from = "src" },
    { include = "tests", format = "sdist" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/browniebroke/django-codemod/issues"
"Changelog" = "https://django-codemod.readthedocs.io/en/stable/changelog.html"
"Twitter" = "https://twitter.com/_BrunoAlla"
"Mastodon" = "https://fosstodon.org/@browniebroke"

[tool.poetry.scripts]
djcodemod = "django_codemod.cli:djcodemod"

[tool.poetry.dependencies]
python = "^3.7"
click = "<9"
libcst = "==0.4.10"
pathspec = ">=0.6,<1"
rich = ">=10"
rich-click = ">=1.0"

[tool.poetry.dev-dependencies]
parameterized = "^0.9.0"
pytest = "^7.0"
pytest-cov = "^4.0"
pytest-mock = "^3.3"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
myst-parser = ">=0.16"
sphinx = ">=4.0"
sphinx-rtd-theme = ">=1.0"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/django_codemod/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=django_codemod --cov-report=term-missing:skip-covered"
pythonpath = ["src"]

[tool.isort]
profile = "black"
known_first_party = ["django_codemod", "tests"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise AssertionError",
    "raise NotImplementedError",
]

[tool.mypy]
# suppress errors about unsatisfied imports
ignore_missing_imports = true

no_implicit_optional = true

# ensure all execution paths are returning
warn_no_return = true

show_error_codes = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
