# Make sure commit messages follow the conventional commits convention:
# https://www.conventionalcommits.org

name: Lint Commit Messages
on: [push]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2.0.3
