name: Semantic Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Run semantic release:
    # - Update CHANGELOG.md
    # - Update version in code
    # - Create git tag
    # - Create Github release
    # - Publish to PyPI
    - name: Python Semantic Release
      uses: relekang/python-semantic-release@v7.3.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ${{ secrets.PYPI_TOKEN }}
